@model ServisPeter.Models.Pozns

@{
    ViewData["Title"] = "Create";
}


<h1 style="color:darkslategrey;font-size:40px; font-weight:bold;">Vytvorenie poznámok </h1>


<p style="text-align: justify; font-family:Times New Roman; font-size:25px;" Sem si môžeš pridať poznámku, ktorú si uskutočnil. </p>
<br />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Datum" class="control-label"></label>
                <input asp-for="Datum" class="form-control" />
                <span asp-validation-for="Datum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nazov" class="control-label"></label>
                <input asp-for="Nazov" class="form-control" placeholder="Zadaj názov poznámky" />
                <span asp-validation-for="Nazov" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Predmet" class="control-label"></label>
                <input asp-for="Predmet" class="form-control" placeholder="Zadaj predmet poznámky" />
                <span asp-validation-for="Predmet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <input asp-for="Text" class="form-control" placeholder="Zadaj text poznámky" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Vytvoriť" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <form asp-controller="Pozns" asp-action="Index">
        <p>
            <input type="submit" value="Späť" class="btn btn-default" />
        </p>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

