@model ServisPeter.Models.Pozns

@{
    ViewData["Title"] = "Edit";
}

<h1 style="color:darkslategrey;font-size:40px; font-weight:bold;">Úprava poznámky </h1>

<p style="text-align: justify; font-family:Times New Roman; font-size:25px;" Tu môžeš upraviť danú poznámku, tak ako požaduješ. </p>
<br />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Datum" class="control-label"></label>
                <input asp-for="Datum" class="form-control" />
                <span asp-validation-for="Datum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nazov" class="control-label"></label>
                <input asp-for="Nazov" class="form-control" placeholder="Uprav názov " />
                <span asp-validation-for="Nazov" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Predmet" class="control-label"></label>
                <input asp-for="Predmet" class="form-control" placeholder="Uprav predmet" />
                <span asp-validation-for="Predmet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <input asp-for="Text" class="form-control" placeholder="Uprav text " />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Uložiť" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <form asp-controller="Pozns" asp-action="Index">
        <p>
            <input type="submit" value="Späť" class="btn btn-default" />
        </p>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}