@{
    ViewData["Title"] = "About";
}


<br />

<div class="container">
    <img src="~/images/ja.jpg" alt="Ja" class="rounded center-block" style="height: 400px; width:400px;" />


    <h1 style="color:darkslategrey;font-size:40px; font-weight:bold;">O mne </h1>
    <p style="text-align: justify; font-family:Times New Roman; font-size:25px;">
        Volám sa Peter Piták. Narodil som sa 01.07.1990 v Trstenej. Mám 28 rokov a žijem v obci Oravská Polhora.
        Vyštudoval som Strednú odbornú školu Technickú v Nižnej so zameraním AUTOELEKTRONIK. Aktívne sa svojmu odboru venujem 5 rokov inak som pracoval na stavbe.
        Momentálne robím v obchode s autodielami <a href="https://www.dsauto.sk/sk?gclid=EAIaIQobChMI4KzkvOLg3gIVROWaCh1iZgwsEAAYASAAEgJ7ZfD_BwE"> DSAUTO</a>. Som tam tri roky. V práci sa momentálne venujem zákazníkom prácou s objednávkami autodielov.
    </p>
    <br />

    <h1 style="color:darkslategrey;font-size:40px; font-weight:bold;">O práci u mňa v servise </h1>

    <p style="text-align: justify; font-family:Times New Roman; font-size:25px;">
        Môj servis som si založil pred troma rokmi. Vznikol vtedy, keď som začal pracovať s autodielami. Prvej som robil autá iba sebe a rodine a neskôr sa mi servis rozrástol na základe odporúčaní priateľov a známych. Teraz sa venujem oprave áut každý deň.
    </p>

    <br />
    <h1 style="color:darkslategrey;font-size:40px; font-weight:bold;">Čomu sa venujem </h1>
    <p style="text-align: justify; font-family:Times New Roman; font-size:25px;">
        Venujem sa oprave mechanický častí, elektroniky a karosérii.
    </p>

    <br />
    <br />
    <br />
    <br />
</div>
