@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<div class="container">
    <h1 style="color:darkslategrey;font-size:40px; font-weight:bold;text-align:center;">Kontakt </h1>
    <br>

    <div class="bg-danger text-white">
        <p style="font-size:50px;">
            Na sms neodpovedám!
        </p>
    </div>

    <p style="font-size:20px;">
        <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"> : </span>
        0999999999
    </p>

    <p style="font-size:20px;">
        <span class="glyphicon glyphicon-home" aria-hidden="true"> : </span>
        Hlavná 608, 02947 Oravska Polhora
    </p>




</div>